upstream dpg_puma {
  server <%= fetch(:puma_bind) %>;
}

server {
  listen 80;
  server_name dpg.ibabar.com;
  #more_clear_headers Date Status X-UA-Compatible Cache-Control X-Request-Id X-Runtime X-Rack-Cache;

  root <%= current_path %>/public;
  access_log <%= shared_path %>/log/nginx.access.log;
  error_log <%= shared_path %>/log/nginx.error.log info;
  
  try_files $uri/index.html $uri @puma;
  
  location @puma {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;

    proxy_pass http://dpg_puma;
  }

  error_page 500 502 503 504 /500.html;
  keepalive_timeout 10;
}
